# environment (dev | prod)
SPARK_ENV=dev
TZ=Europe/Moscow

# Clickhouse
CLICKHOUSE_HOST=localhost   # localhost | clickhouse
CLICKHOUSE_DATABASE=your-db
CLICKHOUSE_PORT=8123
CLICKHOUSE_USER=USER
CLICKHOUSE_PASSWORD=your-pass

# Airflow
AIR_UID=50000
AIR_DB_USER=airflow
AIR_DB_PASS=airflow_pass
AIR_DB=airflow

# iceberg
ACCESS_KEY_ID=123456
SECRET_ACCESS_KEY=123456