# environment (dev | test | prod)
SPARK_ENV=dev
TZ=Europe/Moscow

# Clickhouse
CLICKHOUSE_HOST=localhost
CLICKHOUSE_DATABASE=your-db
CLICKHOUSE_PORT=8123
CLICKHOUSE_USER=USER
CLICKHOUSE_PASSWORD=your-pass

# Airflow
AIR_UID=0
AIR_DB_ADMIN=airflow
AIR_DB_PASS=airflow_pass
AIR_DB=airflow
AIR_DB_EMAIL=hi@air.com

# iceberg
ICE_ACCESS_KEY_ID=123456
ICE_SECRET_ACCESS_KEY=123456

# yc
AWS_ACCESS_KEY_ID=123
AWS_SECRET_ACCESS_KEY=123456

# tg
TG_BOT_TOKEN=xxx
TG_CHAT_ID=-100xxxx

# superset
SUPERSET_DB=superset_metadata_db
SUPERSET_USER=admin
SUPERSET_PASSWORD=admin
SUPERSET_EMAIL=admin@admin.org
SUPERSET_SECRET_KEY=123456123456